extends ../layout

block head
block content
  h2 Questions 
  a(class='btn btn-success', href=webpath+'/questions/add') Add new Question
  - if (typeof(questions) !== 'undefined'){
  p#msg
  div(class='container') 
      div.content    
        table(align='left', id='tab-questions', cellspacing='10')
            - var cat = ''
            - each quest, i in questions
                - if (cat != quest.category) {
                    - cat = quest.category
                    tr(align='left')
                        td(colspan='4'): h2 #{cat}
                    tr(align='left')
                        td
                            b ID
                        td 
                            b Active
                        td 
                            b Type
                        td 
                            b Text
                        td 
                            b Answers
                - }
                tr
                    td.question.
                        #{quest.questionId}
                    td.question.
                        #{(quest.active=='1')?'true':'false'}    
                    td.question.
                        #{quest.type}   
                    td.question(align='left').
                        #{quest.text}
                    - if (quest.type == 'radio') {
                        td.question(align='left').
                            (#{quest.answers[0].value}) #{quest.answers[0].text}
                        - each answer, i in quest.answers 
                            - if (i != 0) {
                                tr
                                    td(colspan='4')
                                    td(align='left').
                                        (#{answer.value}) #{answer.text}
                            - }
                     - }
                     - if (quest.type == 'boolean') {
                        td.question(align='left').
                            #{quest.value}
                     - }
  - }
  - else {
  p No Questions Found!
  - }
      
  
