extends ../layout

block head
block content
  h2 Questions 
  a(class='btn btn-success', href=webpath+'/questions/add') Add new Question
  - if (typeof(questions) !== 'undefined'){
  p#msg
  div(class='container') 
      div.content    
        table(align='left', id='tab-questions', cellspacing='10')
            - var cat = ''
            - each quest, i in questions
                - if (cat != quest.category) {
                    - cat = quest.category
                    tr(align='left')
                        td: h2 #{cat}
                - }
                tr
                    td.question.
                        #{quest.questionId}
                    td.question.
                        #{(quest.active=='1')?'true':'false'}
                    td.question(align='left').
                        #{quest.text}
                    td.question(align='left').
                        (#{quest.answers[0].value}) #{quest.answers[0].text}
                    - each answer, i in quest.answers 
                        - if (i != 0) {
                            tr
                                td(colspan='3')
                                td(align='left').
                                    (#{answer.value}) #{answer.text}
                        -}
  - }
  - else {
  p No Questions Found!
  - }
      
  
