doctype html
html
  head
    title ECHO Prototype
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    script(src="/scripts/jquery.js")
    block head
  body
    div(class='hero-unit')
      div(class='pull-left')
        table
          tr
            td
              a(href=webpath+'/accounts?page=1', class='btn btn-success') Accounts
            td  
              a(href=webpath+'/patients?page=1', class='btn btn-success') Patients
            td  
              a(href=webpath+'/questions', class='btn btn-success') Questions
      div(class='pull-right')
        table
          tr 
            td Welcome #{username}! Role: #{role}
            td
              a(href=webpath+'/accounts/'+accountId, class='btn btn-warning') View Profile
            td
              a(href=webpath+'/logout', class='btn btn-warning') Logout
      br
      br
      div(id='content', class='text-center')
        h1 ECHO Prototype
        block content