extends ../layout

block head
block content
    input(type='hidden', id='ID', value=id)
    h2 Add #{mode} Record for #{patient.lastName}, #{patient.firstName}
    p(id='patient')
    div.container
        form#editform(action=mode, method='POST')
          table(id='questions', align='center')
            - each quest, i in questions
                - if (quest.type == 'radio'){
                    tr
                        td(colspan=quest.answers.length, align='left') #{(quest.text)? quest.text : ''}
                    tr 
                        - each answer in quest.answers
                            td(width=100/quest.answers.length+'%')
                                input(type='radio', value=answer.value, name=(((quest.mapping)? quest.mapping : quest.questionId)))
                    tr 
                        - each answer in quest.answers
                            td(width=100/quest.answers.length+'%').
                                #{answer.text}
                                
                -}
                - if (quest.type == 'boolean') {
                    tr
                        td(align='left') #{(quest.text)? quest.text : ''}
                        td
                            input(type='checkbox',value='1', name=(((quest.mapping)? quest.mapping : quest.questionId)))
                -}
          input(type='submit', value='Submit', class='btn btn-success')    
