extends ../layout

block head
block content
    h2 Patient Details
    table(align='center')
        tr(align='left')
            td.details(align='left') Last Name
            td.details  #{patient.lastName}
        tr(align='left')
            td.details(align='left') First Name 
            td.details #{patient.firstName}
        tr(align='left')
            td.details(align='left') Second Name 
            td.details #{patient.secondName}
        tr(align='left')
            td.details(align='left') IDNumber
            td.details #{patient.idNumber}
        tr(align='left')
            td.details(align='left') Sex
            td.details #{patient.sex}
        tr(align='left')
            td.details(align='left') Date of Birth 
            td.details #{patient.dateOfBirth}
        tr(align='left')
            td.details(align='left') Height
            td.details #{patient.height}
        tr(align='left')
            td.details Weight 
            td.details #{patient.weight}
        tr(align='left')
            td.details Date of Diagnose 
            td.details #{patient.firstDiagnose}
        tr(align='left')
            td.details FileNo 
            td.details #{patient.fileNo}
        tr(align='left')
            td.details Hospital 
            td.details #{patient.hospital}
        tr(align='left')
            td.details Smoker
            td.details #{patient.smoker}
        tr(align='left')
            td.details PxY 
            td.details #{patient.pxy}
        tr(align='left')
            td.details Notes 
            td.details #{patient.notes}
        tr(align='left')
            td.details Trial 
            td.details #{patient.trial}
        tr(align='left')
            td.details Optional 
            td.details #{patient.optional}
        tr(align='left') 
            td.details
                a(href='/', class='btn btn-success') Back
    div(align='left', class='container')
      h2 Daily Answers
      - if (daily.length > 0) {
        table(align='left', id='tab-daily-answers')
            thead
                tr: th ID 
                    th Date 
                    th Question 
                    th Score
            tbody
                - each quest in daily
                    tr
                        td #{quest.questionId}
                        td #{quest.date}
                        td #{quest.text}
                        td #{quest.score}        
      -}
    div(align='left', class='container')
      p
      a(href=patient.patientId+'/daily', id='btn-add-daily', class='btn btn-success', align='left') Add Daily Answers
    div(align='left', class='container')
      h2 CCQ
      - if (ccqweek.length > 0) {
      table(align='left', id='tab-ccq')
        thead
          tr: th Date
              th Total Score 
              th Symptom Score
              th Mental Score
              th Functional Score
        tbody
            - each quest in ccqweek
                tr
                     td #{quest.diagnoseDate}
                     td #{quest.totalCCQScore}
                     td #{quest.symptomScore}
                     td #{quest.mentalStateScore}
                     td #{quest.functionalStateScore}
      -} 
    div(align='left', class='container')
      p
      a(href=patient.patientId+'/ccq', id='btn-add-ccq', class='btn btn-success', align='left') Add Weekly CCQ Record
    div(align='left', class='container')
      h2 Charlson Index
      - if (charlson.length > 0) {
      table(align='left', id='tab-charlson')
        thead
          tr: th Date
              th Score 
        tbody
            - each quest in charlson
                tr
                    td #{quest.diagnoseDate}
                    td #{quest.totalCharlson}
      - }
    div(align='left', class='container')
      p
      a(href=patient.patientId+'/charlson', id='btn-add-ccq', class='btn btn-success', align='left') Add Charlson Record
    div(align='left', class='container')
      h2 Catscale
      - if (catscale.length > 0) {
      table(align='left', id='tab-catscale')
        thead
          tr: th Date
              th Score 
        tbody
            - each quest in catscale
                tr
                    td #{quest.diagnoseDate}
                    td #{quest.totalCatscale}
      - }
    div(align='left', class='container') 
      p
      a(href=patient.patientId+'/catscale', id='btn-add-ccq', class='btn btn-success', align='left') Add Catscale Record
    div(align='left', class='container')
      h2 Missing: Readings
    div(align='left', class='container')
      h2 Missing: Treatment
                