extends ../layout

block head
    script(src="/scripts/p/submit.js")
block content
    - var act
    - var note = ''
    - var caption
    - if (typeof(patient) !== 'undefined'){
        h2 Edit Patient
        - act = 'update'
        - note = patient.notes
        - caption = 'Update Patient'
    - }
    - else{
        h2 Add new Patient
        - act = 'add'
        - caption = 'Save'
    - } 
        form(id='Editform', action=act, method='post') 
            div.control-group
            - if (typeof(patient) == 'undefined'){
                fieldset
                    legend. 
                        Account Data
                    table#account(align='center') 
                        tr
                            td(align='left'): label(for='username',class='control-label') Username
                            td: input(type='text',id='username',name='username',class='input-xlarge',placeholder='Username')
                        tr
                            td(align='left'): label(for='password',class='control-label') Password
                            td: input(type='password',id='password',name='password',class='input-xlarge',placeholder='Password')
                        tr
                            td(align='left'): label(for='verification',class='control-label') Password Verification
                            td: input(type='password',id='verification',name='verification',class='input-xlarge',placeholder='Password verification')
                        tr
                            td(align='left'): label(for='email',class='control-label') E-Mail
                            td: input(type='text',id='email',name='email',class='input-xlarge',placeholder='E-Mail Address')
                        - if (role == 'admin'){
                            tr
                                td(align='left'): label(for='doctorId',class='control-label') Doctor
                                td
                                    select(type='text',id='doctorId',name='doctorId',class='input-xlarge')
                                        - each doc in doctors
                                            option(value=doc.accountId) #{doc.username}
                        -}
                            
            - }
                fieldset
                    legend. 
                        Patient Data
                    table(align='center') 
                        tr
                            td(align='left'): label(for='lastName',class='control-label') Last Name
                            td: input(type='text',id='lastName',name='lastName',class='input-xlarge',placeholder='Last Name', value=(patient?patient.lastName:''))
                        tr
                            td(align='left'): label(for='firstName',class='control-label') First Name
                            td: input(type='text',id='firstName',name='firstName',placeholder='First Name',class='input-xlarge', value=(patient?patient.firstName:''))
                        tr
                            td(align='left'): label(for='secondName',class='control-label') Second Name
                            td: input(type='text',id='secondName',name='secondName',placeholder='Second Name',class='input-xlarge',value=(patient?patient.secondName:'')) 
                        tr
                            td(align='left'): label(for='idNumber',class='control-label') IDNumber [int!]
                            td: input(type='text',id='idNumber',name='idNumber',placeholder='IDNumber [int!]',class='input-xlarge', value=(patient?patient.idNumber:'')) 
                        tr
                            td(align='left'): label(for='sex',class='control-label') Sex
                            td
                                select(type='text',id='sex',name='sex',placeholder='Sex',class='input-xlarge')
                                    option(value="0", selected=('0'==(patient?patient.sex:'0')) ) Female
                                    option(value="1", selected=('1'==(patient?patient.sex:'0')) ) Male
                        tr
                            td(align='left'): label(for='dateOfBirth',class='control-label') Date of Birth 
                            td: input(type='text',id='dateOfBirth',name='dateOfBirth',placeholder='Date of Birth (Format: YYYY-MM-DD) ',class='input-xlarge', value=(patient?patient.dateOfBirth:''))    
                        tr
                            td(align='left'): label(for='height',class='control-label') Height 
                            td: input(type='text',id='height',name='height',placeholder='Height',class='input-xlarge', value=(patient?patient.height:'')) 
                        tr
                            td(align='left'): label(for='weight',class='control-label') Weight 
                            td: input(type='text',id='weight',name='weight',placeholder='Weight',class='input-xlarge', value=(patient?patient.weight:'')) 
                        tr
                            td(align='left'): label(for='firstDiagnose',class='control-label') Date of Diagnose 
                            td: input(type='text',id='firstDiagnose',name='firstDiagnose',placeholder='Date of First Diagnose (Format: YYYY-MM-DD) ',class='input-xlarge', value=(patient?patient.firstDiagnose:'')) 
                            
                        tr
                            td(align='left'): label(for='fileNo',class='control-label') FileNo Data 
                            td: input(type='text',id='fileNo',name='fileNo',placeholder='FileNo Data [int!]',class='input-xlarge', value=(patient?patient.fileNo:'')) 
                        tr
                            td(align='left'): label(for='hospital',class='control-label') Hospital 
                            td: input(type='text',id='hospital',name='hospital',placeholder='Hospital',class='input-xlarge',value=(patient?patient.hospital:'')) 
                        tr
                            td(align='left'): label(for='smoker',class='control-label') Smoker 
                            td 
                                select(type='text',id='smoker',name='smoker',placeholder='Smoker',class='input-xlarge')
                                    option(value="0", selected=('0'==(patient?patient.sex:'0'))) Nonsmoker
                                    option(value="1", selected=('1'==(patient?patient.sex:'0'))) Smoker
                                    option(value="2", selected=('2'==(patient?patient.sex:'0'))) Exsmoker
                        tr
                            td(align='left'): label(for='pxy',class='control-label') PxY 
                            td: input(type='text',id='pxy',name='pxy',placeholder='PxY [int!]',class='input-xlarge', value=(patient?patient.pxy:'')) 
                        tr
                            td(align='left'): label(for='notes',class='control-label') Notes 
                            td: textarea(id='notes',name='notes',placeholder='Notes',class='input-xlarge', rows='4').
                                #{note}
                        tr
                            td(align='left'): label(for='trial',class='control-label') Trial 
                            td: input(type='text',id='trial',name='trial',placeholder='Trial',class='input-xlarge', value=(patient?patient.trial:'')) 
                        tr
                            td(align='left'): label(for='optional',class='control-label') Optional 
                            td(align='left'): input(type='checkbox',id='optional',name='optional',class='input-xlarge', value=(patient?patient.optional:'')) 
                        tr(align='left')   
                            td 
                                - if (typeof(patient) !== 'undefined'){
                                input(type='hidden', id='patientId', value=patient.patientId)
                                - }
                                input(type='submit', value=caption, class='btn btn-success')
                        
                    