extends ../layout

block head
    script(src="/scripts/p/index.js")
block content
  h2 Patients 
  a(class='btn btn-success', href=webpath+'/patients/add') Add new Patient
  - if (typeof(patients) !== 'undefined'){
      p#msg
      table(align='center', id='tab-patient', cellspacing='10')
        thead(align='left')
            tr: th: a(href='id_sort', id='id_sort') ID 
                th: a(href='surname_sort', id='surname_sort') Surname 
                th: a(href='name_sort', id='name_sort') Name 
                th: a(href='birthday_sort', id='birthday_sort') Birthday
                th Actions
        tbody(cellspacing='100')
            - each pat in patients
                tr(align='left')
                    td #{pat.patientId}
                    td #{pat.lastName}
                    td #{pat.firstName}
                    td #{pat.dateOfBirth}
                    td 
                        table
                            tr 
                                td: a(href=webpath+'/patients/#{pat.patientId}', class='btn btn-success') View
                                td: a(href=webpath+'/patients/#{pat.patientId}/edit', class='btn btn-warning') Edit
                                td: a(href=webpath+'/patients/#{pat.patientId}/delete', class='btn btn-danger') Delete
      table(align='center', id='nav')
        tr
          td: a(href='back',class='btn btn-warning',id='btn-back') Back 
          td: a(href='next',class='btn btn-warning',id='btn-next') Next
  - }
  - else {
      p No patients found!    
  - }